<div class="title-container"><h1 class="title">REGISTRO DE FOROS</h1></div>
<div class="container" style="text-align: center"> 
  <form [formGroup]="form" (submit)="aceptar()" class="example-form">

    <mat-form-field class="example-full-width"  *ngIf="edicion" >
      <mat-label>codigo</mat-label>
      <input matInput placeholder="Id" formControlName="IdForum" />      
    </mat-form-field>
    <br/>


    <mat-form-field>
    <mat-select placeholder="ingrese usuario" formControlName="username">
        <mat-option *ngFor="let c of listarUser" [value]="c.id">
          {{ c.username}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('username')?.hasError('required')"
        >El usuario es obligatorio</mat-error>
    </mat-form-field>


    <br/>

    <mat-form-field>
        <input matInput placeholder="Inserte nombre" formControlName="name">
        <mat-error *ngIf="form.get('name')?.hasError('required')">El nombre del foro es obligatorio</mat-error>  
    </mat-form-field>

    <br/>


    <mat-form-field>
        <input matInput placeholder="Descripcion" formControlName="descripcion">
        <mat-error *ngIf="form.get('descripcion')?.hasError('required')">El número de la tarjeta es obligatorio.</mat-error>  
    </mat-form-field>


    <br/>
    

    <button mat-raised-button color="primary"> Aceptar </button>

  </form>
</div>
