<div class="title-container">
    <h1 class="title">Registro de suscripciones</h1>
  </div>
  <div class="container" style="text-align: center">
    <form [formGroup]="form" (submit)="aceptar()" class="example-form">
  
      <mat-form-field appearance="fill" class="example-full-width">
        <input
          matInput
          placeholder="Ingrese fecha"
          [matDatepicker]="picker"
          formControlName="fechaFactura"
          [max]="maxDate"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
  
        <mat-error *ngIf="form.get('fechaFactura')?.hasError('required')">La fecha es obligatoria.</mat-error>
      </mat-form-field>
      <br />
  
      <mat-form-field>
        <input matInput placeholder="Total" formControlName="Total">
        <mat-error *ngIf="form.get('Total')?.hasError('required')"> El precio es obligatorio.</mat-error>
      </mat-form-field>
      <br />
  
      <mat-form-field>
        <mat-select placeholder="ingrese usuario" formControlName="username">
            <mat-option *ngFor="let c of listarUser" [value]="c.id">
              {{ c.username}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('username')?.hasError('required')"
            >El usuario es obligatorio</mat-error>
        </mat-form-field>

      <br />
  
      <button mat-raised-button color="primary" type="submit">Aceptar</button>
    </form>
  </div>
  