<mat-toolbar color="primary" *ngIf="verificar()">
  <button mat-button [routerLink]="['/homes']">
    <mat-icon>home</mat-icon>Home
  </button>
  
  
  <button mat-button [matMenuTriggerFor]="menuCard" *ngIf="isAdmin()"><mat-icon> payment</mat-icon>Card</button>  
  <button mat-button [matMenuTriggerFor]="menuRole" *ngIf="isAdmin()" ><mat-icon> moderator</mat-icon>Roles</button>
  <button mat-button [matMenuTriggerFor]="menuForum" *ngIf="isAdmin()"><mat-icon> forum</mat-icon>Forum</button>
  <button mat-button [matMenuTriggerFor]="menuNotificacion" *ngIf="isAdmin()"><mat-icon> notifications</mat-icon>Notificaciones</button>
  <button mat-button [matMenuTriggerFor]="menuDetail" *ngIf="isAdmin()"><mat-icon>details</mat-icon>Details</button>
  <button mat-button [matMenuTriggerFor]="menuPost" *ngIf="isAdmin()"><mat-icon>announcement</mat-icon>Posts</button>
  

  <button mat-button [matMenuTriggerFor]="menuReport" *ngIf="isAdmin()"><mat-icon> assessment</mat-icon>Reportes</button>
  <button mat-button [matMenuTriggerFor]="menuSalir"><mat-icon>people</mat-icon>Usuario</button>


</mat-toolbar>

<mat-menu #menuCard="matMenu">
  <button mat-menu-item routerLink="/cards">Listar</button>
  <button mat-menu-item routerLink="/cards/registerCard">Registrar</button>
  <!-- Agrega más elementos de menú si es necesario -->
</mat-menu>

<mat-menu #menuRole="matMenu">
  <button mat-menu-item routerLink="/roles">Listar</button>
  <button mat-menu-item routerLink="/roles/registerRole">Registrar</button>
  <!-- Agrega más elementos de menú si es necesario -->
</mat-menu>



<mat-menu #menuForum="matMenu">
  <button mat-menu-item routerLink="/forum">Listar</button>
  <button mat-menu-item routerLink="/forum/registerForum">Registrar</button>
  <!-- Agrega más elementos de menú si es necesario -->
</mat-menu>

<mat-menu #menuNotificacion="matMenu">
  <button mat-menu-item routerLink="/Notification">Listar</button>
  <button mat-menu-item routerLink="/Notification/registerNotification">Registrar</button>
  <!-- Agrega más elementos de menú si es necesario -->
</mat-menu>


<mat-menu #menuDetail="matMenu">
  <button mat-menu-item routerLink="/details">Listar</button>
  <button mat-menu-item routerLink="/details/registerDetail">Registrar</button>
  <!-- Agrega más elementos de menú si es necesario -->
</mat-menu>

<mat-menu #menuPost="matMenu">
  <button mat-menu-item routerLink="/posts">Listar</button>
  <button mat-menu-item routerLink="/posts/registerPost">Registrar</button>
  <!-- Agrega más elementos de menú si es necesario -->
</mat-menu>




<mat-menu #menuReport="matMenu">
  
  <button mat-menu-item routerLink="/repo/registerReport03">Reporte03</button>
  <button mat-menu-item routerLink="/repo/registerReport04">Reporte04</button>
  
  
</mat-menu>

<mat-menu  #menuSalir="matMenu" >
  
  
  <button mat-menu-item>
    <mat-icon>assignment_ind</mat-icon>
    ROL:
    <span>{{role}}</span>
  </button>
  <button mat-menu-item routerLink="/login" (click)="eliminar()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
</mat-menu>
<router-outlet></router-outlet>