
<body class="login1111">
  <div class="wrapper">
  <div class="title">
     Login
  </div>
  <form (ngSubmit)="login()">
     <div class="field">
        <input matInput placeholder="usuario" [(ngModel)]="username" name="username" required>
        <label>usuario</label>
     </div>
     <div class="field">
        <input type="password"
        matInput
        placeholder="password"
        [(ngModel)]="password"
        name="password"
        required>
        <label>password</label>
     </div>
     <div class="content">
        
     </div>
     <div class="field">
        <input type="submit" value="Login">
     </div>
     <div class="signup-link" >
        No eres miembro? <a [routerLink]="['/register']">Signup now </a> <a >|</a>       <a [routerLink]="['/landinghome']"> Inicio</a>

     </div>
  </form>
</div>
</body>