<div class="title-container"><h1 class="title">Registro de servicios</h1></div>
<div class="container" style="text-align: center"> 
  <form [formGroup]="form" (submit)="aceptar()" class="example-form">

    <mat-form-field class="example-full-width"  *ngIf="edicion" >
      <mat-label>codigo</mat-label>
      <input matInput placeholder="codigo" formControlName="codigo" />      
    </mat-form-field>
    <br/>


    
    <mat-form-field>
        <mat-label> Tipo servicio </mat-label>
        <mat-select placeholder="Servicio"formControlName="tservice">
            <mat-option *ngFor="let m of tservice" [value]="m.value">
                {{m.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <br/>

    <mat-form-field>
        <mat-label> Valoracion </mat-label>
        <mat-select placeholder="valoracion"formControlName="valoracion">
            <mat-option *ngFor="let m of valoraciones" [value]="m.value">
                {{m.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <br/>

    <mat-form-field>
        <input matInput placeholder="direccion" formControlName="direccion">
        <mat-error *ngIf="form.get('direccion')?.hasError('required')">La direccion es obligatoria.</mat-error>  
    </mat-form-field>

    <br/>

    <mat-form-field>
        <mat-label> Estado </mat-label>
        <mat-select placeholder="estado"formControlName="estado">
            <mat-option *ngFor="let m of estados" [value]="m.value">
                {{m.viewValue}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('estado')?.hasError('required')">El estado es obligatorio.</mat-error>  
    </mat-form-field>




    <br/>


    <mat-form-field>
        <input matInput placeholder="demand" formControlName="demant">
        <mat-error *ngIf="form.get('demant')?.hasError('required')">La demanda es obligatoria.</mat-error>  
    </mat-form-field>

    <br/>

    <mat-form-field>
        <input matInput placeholder="descripcion" formControlName="descripcion">
        <mat-error *ngIf="form.get('descripcion')?.hasError('required')">La descripcion es obligatoria.</mat-error>  
    </mat-form-field>

    <br/>

    

    <button mat-raised-button color="primary"> Aceptar </button>

  </form>
</div>

